    <rect x="40" y="18" width="2" height="2" fill="#FFC400"/>
    <rect x="42" y="18" width="2" height="2" fill="#FFC400"/>
    <rect x="36" y="20" width="2" height="2" fill="#FFC400"/>
    <rect x="38" y="20" width="2" height="2" fill="#FFC400"/>
    <rect x="40" y="20" width="2" height="2" fill="#FFC400"/>
    <rect x="42" y="20" width="2" height="2" fill="#FFC400"/>
    <rect x="34" y="22" width="2" height="2" fill="#C60B1E"/>
    <rect x="36" y="22" width="2" height="2" fill="#C60B1E"/>
    <rect x="38" y="22" width="2" height="2" fill="#C60B1E"/>
    <rect x="40" y="22" width="2" height="2" fill="#C60B1E"/>
    <rect x="30" y="24" width="2" height="2" fill="#C60B1E"/>
    <rect x="32" y="24" width="2" height="2" fill="#C60B1E"/>
    <rect x="34" y="24" width="2" height="2" fill="#C60B1E"/>
    <rect x="36" y="24" width="2" height="2" fill="#C60B1E"/>
    <rect x="38" y="24" width="2" height="2" fill="#C60B1E"/>
    <rect x="40" y="24" width="2" height="2" fill="#C60B1E"/>
    <rect x="42" y="24" width="2" height="2" fill="#C60B1E"/>
    <rect x="44" y="24" width="2" height="2" fill="#C60B1E"/>
    <rect x="34" y="26" width="2" height="2" fill="#C60B1E"/>
    <rect x="36" y="26" width="2" height="2" fill="#C60B1E"/>
    <rect x="38" y="26" width="2" height="2" fill="#C60B1E"/>
    <rect x="40" y="26" width="2" height="2" fill="#C60B1E"/>
    <rect x="42" y="26" width="2" height="2" fill="#C60B1E"/>
    <rect x="44" y="26" width="2" height="2" fill="#C60B1E"/>
    <rect x="46" y="26" width="2" height="2" fill="#C60B1E"/>
    <rect x="48" y="26" width="2" height="2" fill="#C60B1E"/>
    <rect x="50" y="26" width="2" height="2" fill="#C60B1E"/>
    <rect x="52" y="26" width="2" height="2" fill="#C60B1E"/>
    <rect x="54" y="26" width="2" height="2" fill="#C60B1E"/>
    <rect x="56" y="26" width="2" height="2" fill="#C60B1E"/>
    <rect x="32" y="28" width="2" height="2" fill="#C60B1E"/>
    <rect x="34" y="28" width="2" height="2" fill="#C60B1E"/>
    <rect x="36" y="28" width="2" height="2" fill="#C60B1E"/>
    <rect x="38" y="28" width="2" height="2" fill="#C60B1E"/>
    <rect x="40" y="28" width="2" height="2" fill="#C60B1E"/>
    <rect x="42" y="28" width="2" height="2" fill="#C60B1E"/>
    <rect x="44" y="28" width="2" height="2" fill="#C60B1E"/>
    <rect x="46" y="28" width="2" height="2" fill="#C60B1E"/>
    <rect x="48" y="28" width="2" height="2" fill="#C60B1E"/>
    <rect x="50" y="28" width="2" height="2" fill="#C60B1E"/>
    <rect x="52" y="28" width="2" height="2" fill="#C60B1E"/>
    <rect x="54" y="28" width="2" height="2" fill="#C60B1E"/>
    <rect x="56" y="28" width="2" height="2" fill="#C60B1E"/>
    <rect x="58" y="28" width="2" height="2" fill="#C60B1E"/>
    <rect x="64" y="28" width="2" height="2" fill="#FFC400"/>
    <rect x="66" y="28" width="2" height="2" fill="#FFC400"/>
    <rect x="30" y="30" width="2" height="2" fill="#C60B1E"/>
    <rect x="32" y="30" width="2" height="2" fill="#C60B1E"/>
    <rect x="34" y="30" width="2" height="2" fill="#C60B1E"/>
    <rect x="36" y="30" width="2" height="2" fill="#C60B1E"/>
    <rect x="38" y="30" width="2" height="2" fill="#C60B1E"/>
    <rect x="40" y="30" width="2" height="2" fill="#C60B1E"/>
    <rect x="42" y="30" width="2" height="2" fill="#C60B1E"/>
    <rect x="44" y="30" width="2" height="2" fill="#C60B1E"/>
    <rect x="46" y="30" width="2" height="2" fill="#C60B1E"/>
    <rect x="48" y="30" width="2" height="2" fill="#C60B1E"/>
    <rect x="50" y="30" width="2" height="2" fill="#C60B1E"/>
    <rect x="52" y="30" width="2" height="2" fill="#C60B1E"/>
    <rect x="54" y="30" width="2" height="2" fill="#C60B1E"/>
    <rect x="56" y="30" width="2" height="2" fill="#C60B1E"/>
    <rect x="60" y="30" width="2" height="2" fill="#FFC400"/>
    <rect x="62" y="30" width="2" height="2" fill="#FFC400"/>
    <rect x="64" y="30" width="2" height="2" fill="#FFC400"/>
    <rect x="66" y="30" width="2" height="2" fill="#FFC400"/>
    <rect x="28" y="32" width="2" height="2" fill="#C60B1E"/>
    <rect x="30" y="32" width="2" height="2" fill="#C60B1E"/>
    <rect x="32" y="32" width="2" height="2" fill="#C60B1E"/>
    <rect x="34" y="32" width="2" height="2" fill="#C60B1E"/>
    <rect x="36" y="32" width="2" height="2" fill="#C60B1E"/>
    <rect x="38" y="32" width="2" height="2" fill="#C60B1E"/>
    <rect x="40" y="32" width="2" height="2" fill="#C60B1E"/>
    <rect x="42" y="32" width="2" height="2" fill="#C60B1E"/>
    <rect x="44" y="32" width="2" height="2" fill="#C60B1E"/>
    <rect x="46" y="32" width="2" height="2" fill="#C60B1E"/>
    <rect x="48" y="32" width="2" height="2" fill="#C60B1E"/>
    <rect x="50" y="32" width="2" height="2" fill="#C60B1E"/>
    <rect x="52" y="32" width="2" height="2" fill="#C60B1E"/>
    <rect x="54" y="32" width="2" height="2" fill="#C60B1E"/>
    <rect x="56" y="32" width="2" height="2" fill="#C60B1E"/>
    <rect x="58" y="32" width="2" height="2" fill="#FFC400"/>
    <rect x="60" y="32" width="2" height="2" fill="#FFC400"/>
    <rect x="62" y="32" width="2" height="2" fill="#FFC400"/>
    <rect x="64" y="32" width="2" height="2" fill="#FFC400"/>
    <rect x="66" y="32" width="2" height="2" fill="#FFC400"/>
    <rect x="28" y="34" width="2" height="2" fill="#C60B1E"/>
    <rect x="30" y="34" width="2" height="2" fill="#C60B1E"/>
    <rect x="32" y="34" width="2" height="2" fill="#C60B1E"/>
    <rect x="34" y="34" width="2" height="2" fill="#C60B1E"/>
    <rect x="36" y="34" width="2" height="2" fill="#C60B1E"/>
    <rect x="38" y="34" width="2" height="2" fill="#C60B1E"/>
    <rect x="40" y="34" width="2" height="2" fill="#C60B1E"/>
    <rect x="42" y="34" width="2" height="2" fill="#C60B1E"/>
    <rect x="44" y="34" width="2" height="2" fill="#C60B1E"/>
    <rect x="46" y="34" width="2" height="2" fill="#C60B1E"/>
    <rect x="48" y="34" width="2" height="2" fill="#C60B1E"/>
    <rect x="50" y="34" width="2" height="2" fill="#C60B1E"/>
    <rect x="52" y="34" width="2" height="2" fill="#C60B1E"/>
    <rect x="54" y="34" width="2" height="2" fill="#C60B1E"/>
    <rect x="56" y="34" width="2" height="2" fill="#C60B1E"/>
    <rect x="60" y="34" width="2" height="2" fill="#FFC400"/>
    <rect x="62" y="34" width="2" height="2" fill="#FFC400"/>
    <rect x="64" y="34" width="2" height="2" fill="#FFC400"/>
    <rect x="66" y="34" width="2" height="2" fill="#FFC400"/>
    <rect x="30" y="36" width="2" height="2" fill="#C60B1E"/>
    <rect x="32" y="36" width="2" height="2" fill="#C60B1E"/>
    <rect x="34" y="36" width="2" height="2" fill="#C60B1E"/>
    <rect x="36" y="36" width="2" height="2" fill="#C60B1E"/>
    <rect x="38" y="36" width="2" height="2" fill="#C60B1E"/>
    <rect x="40" y="36" width="2" height="2" fill="#A30B18"/>
    <rect x="42" y="36" width="2" height="2" fill="#A30B18"/>
    <rect x="44" y="36" width="2" height="2" fill="#A30B18"/>
    <rect x="46" y="36" width="2" height="2" fill="#C60B1E"/>
    <rect x="48" y="36" width="2" height="2" fill="#C60B1E"/>
    <rect x="50" y="36" width="2" height="2" fill="#C60B1E"/>
    <rect x="52" y="36" width="2" height="2" fill="#C60B1E"/>
    <rect x="54" y="36" width="2" height="2" fill="#C60B1E"/>
    <rect x="56" y="36" width="2" height="2" fill="#C60B1E"/>
    <rect x="60" y="36" width="2" height="2" fill="#FFC400"/>
    <rect x="62" y="36" width="2" height="2" fill="#FFC400"/>
    <rect x="64" y="36" width="2" height="2" fill="#FFC400"/>
    <rect x="30" y="38" width="2" height="2" fill="#C60B1E"/>
    <rect x="32" y="38" width="2" height="2" fill="#C60B1E"/>
    <rect x="34" y="38" width="2" height="2" fill="#C60B1E"/>
    <rect x="36" y="38" width="2" height="2" fill="#C60B1E"/>
    <rect x="38" y="38" width="2" height="2" fill="#A30B18"/>
    <rect x="40" y="38" width="2" height="2" fill="#A30B18"/>
    <rect x="42" y="38" width="2" height="2" fill="#A30B18"/>
    <rect x="44" y="38" width="2" height="2" fill="#A30B18"/>
    <rect x="46" y="38" width="2" height="2" fill="#A30B18"/>
    <rect x="48" y="38" width="2" height="2" fill="#C60B1E"/>
    <rect x="50" y="38" width="2" height="2" fill="#C60B1E"/>
    <rect x="52" y="38" width="2" height="2" fill="#C60B1E"/>
    <rect x="54" y="38" width="2" height="2" fill="#C60B1E"/>
    <rect x="56" y="38" width="2" height="2" fill="#C60B1E"/>
    <rect x="60" y="38" width="2" height="2" fill="#FFC400"/>
    <rect x="62" y="38" width="2" height="2" fill="#FFC400"/>
    <rect x="32" y="40" width="2" height="2" fill="#C60B1E"/>
    <rect x="34" y="40" width="2" height="2" fill="#C60B1E"/>
    <rect x="36" y="40" width="2" height="2" fill="#C60B1E"/>
    <rect x="38" y="40" width="2" height="2" fill="#C60B1E"/>
    <rect x="40" y="40" width="2" height="2" fill="#C60B1E"/>
    <rect x="42" y="40" width="2" height="2" fill="#A30B18"/>
    <rect x="44" y="40" width="2" height="2" fill="#A30B18"/>
    <rect x="46" y="40" width="2" height="2" fill="#A30B18"/>
    <rect x="48" y="40" width="2" height="2" fill="#C60B1E"/>
    <rect x="50" y="40" width="2" height="2" fill="#C60B1E"/>
    <rect x="52" y="40" width="2" height="2" fill="#C60B1E"/>
    <rect x="54" y="40" width="2" height="2" fill="#C60B1E"/>
    <rect x="56" y="40" width="2" height="2" fill="#C60B1E"/>
    <rect x="34" y="42" width="2" height="2" fill="#C60B1E"/>
    <rect x="36" y="42" width="2" height="2" fill="#C60B1E"/>
    <rect x="38" y="42" width="2" height="2" fill="#C60B1E"/>
    <rect x="40" y="42" width="2" height="2" fill="#C60B1E"/>
    <rect x="42" y="42" width="2" height="2" fill="#C60B1E"/>
    <rect x="44" y="42" width="2" height="2" fill="#C60B1E"/>
    <rect x="46" y="42" width="2" height="2" fill="#C60B1E"/>
    <rect x="48" y="42" width="2" height="2" fill="#C60B1E"/>
    <rect x="50" y="42" width="2" height="2" fill="#C60B1E"/>
    <rect x="52" y="42" width="2" height="2" fill="#C60B1E"/>
    <rect x="64" y="34" width="2" height="2" fill="#E8A800"/>
    <rect x="66" y="36" width="2" height="2" fill="#E8A800"/>
    <rect x="66" y="38" width="2" height="2" fill="#E8A800"/>
