    <rect x="18" y="26" width="2" height="2" fill="#F8F1F2"/>
    <rect x="20" y="26" width="2" height="2" fill="#F8F1F2"/>
    <rect x="22" y="26" width="2" height="2" fill="#F8F1F2"/>
    <rect x="16" y="28" width="2" height="2" fill="#F8F1F2"/>
    <rect x="18" y="28" width="2" height="2" fill="#F8F1F2"/>
    <rect x="20" y="28" width="2" height="2" fill="#F8F1F2"/>
    <rect x="22" y="28" width="2" height="2" fill="#F8F1F2"/>
    <rect x="14" y="30" width="2" height="2" fill="#F8F1F2"/>
    <rect x="16" y="30" width="2" height="2" fill="#F8F1F2"/>
    <rect x="18" y="30" width="2" height="2" fill="#1A1A2E"/>
    <rect x="20" y="30" width="2" height="2" fill="#1A1A2E"/>
    <rect x="22" y="30" width="2" height="2" fill="#F8F1F2"/>
    <rect x="24" y="30" width="2" height="2" fill="#F8F1F2"/>
    <rect x="14" y="32" width="2" height="2" fill="#F8F1F2"/>
    <rect x="16" y="32" width="2" height="2" fill="#1A1A2E"/>
    <rect x="18" y="32" width="2" height="2" fill="#1A1A2E"/>
    <rect x="20" y="32" width="2" height="2" fill="#1A1A2E"/>
    <rect x="22" y="32" width="2" height="2" fill="#1A1A2E"/>
    <rect x="24" y="32" width="2" height="2" fill="#F8F1F2"/>
    <rect x="14" y="34" width="2" height="2" fill="#F8F1F2"/>
    <rect x="16" y="34" width="2" height="2" fill="#F8F1F2"/>
    <rect x="18" y="34" width="2" height="2" fill="#1A1A2E"/>
    <rect x="20" y="34" width="2" height="2" fill="#F8F1F2"/>
    <rect x="22" y="34" width="2" height="2" fill="#F8F1F2"/>
    <rect x="16" y="36" width="2" height="2" fill="#F8F1F2"/>
    <rect x="18" y="36" width="2" height="2" fill="#F8F1F2"/>
    <rect x="20" y="36" width="2" height="2" fill="#F8F1F2"/>
    <rect x="22" y="36" width="2" height="2" fill="#F8F1F2"/>
